.container{
    width: 100%;
    position: unset !important;
}
.landingImage{
    object-fit: contain;
    width: 100%;
    position: relative !important;
    height: unset;
    max-height: 691px;
    max-width: 1228px;
}
@media screen and (min-width: 1024px){
    .container{
        width: 80%;
        margin: 0 auto;

    }
    .text{
        width: 80%;
        margin: 0 auto;
    }
}