.heading{
    text-align: center;
    margin-top: 5%;
}
.shrineUl, .titleRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: .8rem;
    height: 50px;
    list-style-type: none;
}
.titleRow{
    background-color: rgb(var(--blue-700));
    margin:3% 0 0 0;
    height: 20px;
}
.titleRow li{
    padding-left: 5px;
}

.shrineList .shrineUl:nth-child(even){
    background-color: rgb(var(--blue-400));
    color: rgb(var(--blue-100))
}
.shrineList .shrineUl:nth-child(odd){
    background-color: rgb(var(--blue-300));
    color: rgb(var(--blue-100));
}
.shrineUl li{
    display: block;
    padding-top: 10px;
    padding-left:5px;
    margin-right: 10px;
    
}
.shrineList .shrineUl:nth-child(even) a:not(:last-child){
    border-right: solid 1px rgb(var(--blue-100))
}
.shrineList .shrineUl:nth-child(odd) a:not(:last-child){
    border-right: solid 1px rgb(var(--blue-100))
}
.grid{
    margin: 5% auto 0 auto;
    display: grid;
    width: 70%;
    gap: 5px 0px;
}
.imageWrapper{
    position: relative;
    height: 200px;
    width: 315px;
    
}
.filter{
    text-align: center;
    color: rgb(var(--blue-100));
    width: 80%;
    margin: 5% auto;
}
.korokCard{
    height: 700px;
    width: 350px;
    margin: 2% auto;
    padding:2%;
    background-color: rgba(var(--blue-400));
    border: solid rgb(var(--blue-100));
}
.card{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.btnContainer{
    margin-top: 2%;
    text-align: center;
}
.card:hover{
    transform: translateY(-2%);
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
}
.card p{
    text-transform: capitalize;
    background-color: rgba(var(--blue-400), 0.7);
    position: absolute;
    z-index:3;
    bottom:7%;
    width: 100%;
}
@media screen and (min-width: 768px){
    .korokGrid{
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 15px;
        width: 750px;
        margin: 0 auto;
    }
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
        width: 700px;
    }
    .card{
        margin: 2% auto;
        
    }
}
@media screen and (min-width: 1024px){
    .korokCard{
        padding: 1%;
    }
    .korokGrid{
        grid-template-columns: 1fr 1fr 1fr;
        width: 1024px
    }
    .card{
        margin: 2% auto;
        width: 300px;
        height: 300px;
    }
    .grid{
        width: 1000px;
    }
}
