.heading{
    text-align: center;
    margin-top: 5%;
}
.grid{
    margin: 5% auto 0 auto;
    display: grid;
    width: 70%;
}
.card{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.btnContainer{
    margin-top: 2%;
    text-align: center;
}
.card:hover{
    transform: translateY(-2%);
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
}
.card p{
    text-transform: capitalize;
    background-color: rgba(var(--blue-400), 0.7);
    position: absolute;
    z-index:3;
    bottom:7%;
    width: 100%;
}
@media screen and (min-width: 768px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
