.nav{
    display: flex;
    width: 100%;
    gap: 0px 18px;
    font-size: 1.3rem;
    background-color: var(--blue-400);
}
.dropdown{
    position: relative;
    display: inline-block;
    padding: 0px 10px;
}
.dropdown:hover{
    background-color: var(--blue-500);
}
.dropdown:hover .dropdownMenu{
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.dropdownMenu{
    display: none;
    position: absolute;
    background-color: var(--blue-400);
    color: var(--blue-100);
    width: 100px;
    font-size: 1rem;
    left: 0;
    padding: 10px;
}
.dropdownSearch{
    background-color: var(--blue-500);
    display: inline-block;
    padding: 0px 10px;
    
}
.dropdownSearch:hover .dropdownSearchMenu{
    display: flex;
    z-index: 3;
}
.dropdownSearchMenu{
    flex-direction: row;
    display: none;
    position: absolute;
    background-color: var(--blue-400);
    transform: translateX(-6.5%);
    padding:5px;
}
.dropdownSearchMenu input[type=text], .searchFullScreen input[type=text]{
    margin: 10px;
    border-radius:10px;
    padding: .3125rem;
    background-color: var(--blue-100);
    color: var(--blue-300);
}
.dropdownSearchMenu input[type=text]:placeholder{
   color: var(--blue-300);
}
.dropdownSearchMenu button, .searchFullScreen button{
    background-color: var(--blue-400);
    border: none;
    color: var(--blue-100);
    font-size: 1.2rem;
    cursor: pointer;
}
.dropdownMenu a{
    border-bottom: 1px solid var(--blue-300);
}
.dropdownMenu a:last-of-type{
    border-bottom: none;
}
.dropdownMenu a:hover{
    background-color: var(--blue-300);
}

.searchFullScreen{
    display: none;
}
@media screen and (min-width: 425px){
    .searchFullScreen input[type=text]{
        margin: 0 0 0 0;
        transform: translateY(-10%);
        padding: 2px;
        
    }
    .searchFullScreen{
        display: block;
        margin: 0 0 0 1em;
        padding: 0;
    }
    .dropdownSearch{
        display: none;
    }
    .nav{
        font-size: 1rem;
    }
}
@media screen and (min-width: 768px){
    .nav{
        font-size: 1.5rem;
    }
    .searchFullScreen{
        margin: 0 0 0 5.5em;
    }
    .searchFullScreen input[type=text]{
        width: 18.75rem;
        transform: translateY(-10%);
        padding: .3125rem;
        
    }
    .searchFullScreen button{
        margin: 0 0 0 5px;
        
    }
    .dropdownMenu{
        font-size: 1.4rem;
        width: 200px;
    }
    .form{
        height: 50%;
        position: relative;
    }
}
@media screen and (min-width: 1024px){
    .nav{
        font-size: 2rem;
    }
    .searchFullScreen{
        margin: 0 0 0 8em;
    }
    .searchFullScreen button, .searchFullScreen input[type=text]{
        transform: translateY(-25%);
    }
}
