.nav{
    width: 100%;
    position: relative;
    /* align-items: space-evenly; */
    font-size: 1.3rem;
    background-color: rgb(var(--blue-400));
    height: 30px;
    
}
.nav .left a .nav.right a{
    z-index:99;
}
.right{
    display:flex;
    width: 23%;
    position: absolute;
    right:7%;
    background-color: rgb(var(--blue-400));
    z-index: 10;
    align-content: flex-start;
}
.left{
    display: flex;
    width: 70%;
    position: absolute;
    left: 0%;
    background-color: rgb(var(--blue-400));
    z-index:10;
}
.dropdown{
    position: relative;
    display: inline-block;
    padding: 0px 10px;
    flex-shrink:0;
}
.dropdown:hover{
    background-color: rgb(var(--blue-500));
}
.dropdown:hover .dropdownMenu{
    display: flex;
    flex-direction: column;
    z-index: 99;
}
.dropdownMenu{
    display: none;
    position: absolute;
    background-color: rgb(var(--blue-400));
    color: var(--blue-100);
    width: 100px;
    font-size: .8rem;
    left: 0;
    padding: 10px;
}
.dropdownSearch{
    background-color: rgb(var(--blue-500));
    display: inline-block;
    padding: 0px 10px;
    
}
.dropdownSearch:hover .dropdownSearchMenu{
    display: flex;
    z-index: 99;
}
.dropdownSearchMenu{
    flex-direction: row;
    display: none;
    position: absolute;
    background-color: rgb(var(--blue-400));
    transform: translateX(-6.5%);
    padding:5px;
    width: 200px;
}
.dropdownSearchMenu input[type=text], .searchFullScreen input[type=text]{
    margin: 10px;
    border-radius:10px;
    padding: .3125rem;
    background-color: rgb(var(--blue-100));
    color: rgb(var(--blue-300));
    width: 80%;
}
.dropdownSearchMenu input[type=text]
{
    margin: 1px;
    padding: .1rem;
    width: 80px;
    font-size: .8rem;
}.dropdownSearchMenu input[type=text]:placeholder{
   color: rgb(var(--blue-300));
}
.dropdownSearchMenu button, .searchFullScreen button{
    background-color: rgb(var(--blue-400));
    border: none;
    color: rgb(var(--blue-100));
    font-size: 1.2rem;
    cursor: pointer;
}
.dropdownMenu a{
    border-bottom: 1px solid rgb(var(--blue-300));
}
.dropdownMenu a:last-of-type{
    border-bottom: none;
}
.dropdownMenu a:hover{
    background-color: rgb(var(--blue-300));
}

.searchFullScreen{
    display: none;
}
@media screen and (min-width: 436px){
    .searchFullScreen input[type=text]{
        margin: 0 0 0 0;
        transform: translateY(-10%);
        padding: 2px;
        
    }
    .searchFullScreen{
        display: block;
        padding: 0;
        flex-grow:1;
    }
    .dropdownSearch{
        display: none;
    }
    .nav{
        font-size: 1rem;
    }
    .left{
        width: 35%;
    }
    .right{
        width: 58%;
    }
}
@media screen and (min-width: 768px){
    .nav{
        font-size: 1.5rem;
        height: 40px
    }
    .searchFullScreen input[type=text]{
        /* width: 18.75rem; */
        transform: translateY(-10%);
        padding: .3125rem;
        
    }
    .searchFullScreen button{
        margin: 0 0 0 5px;
        
    }
    .dropdownMenu{
        font-size: 1.4rem;
        width: 200px;
    }
}
@media screen and (min-width: 1024px){
    .nav{
        font-size: 2rem;
    }
    .searchFullScreen button, .searchFullScreen input[type=text]{
        transform: translateY(-25%);
    }
}
