.nav{
    width: 100%;
    position: relative;
    /* align-items: space-evenly; */
    font-size: 1.4rem;
    background-color: rgb(var(--blue-400));
    height: 30px;
    
}
.nav .left a .nav.right a{
    z-index:99;
}
.right{
    display:flex;
    width: 23%;
    position: absolute;
    right:15%;
    background-color: rgb(var(--blue-400));
    z-index: 10;
    align-content: flex-start;
}
.left{
    display: flex;
    width: 70%;
    position: absolute;
    left: 0%;
    background-color: rgb(var(--blue-400));
    z-index:10;
}
.dropdown{
    position: relative;
    display: inline-block;
    padding: 0px 10px;
    flex-shrink:0;
}
.dropdown:hover{
    background-color: rgb(var(--blue-500));
}
.dropdown:hover .dropdownMenu{
    display: flex;
    flex-direction: column;
    z-index: 99;
}
.dropdownMenu{
    display: none;
    position: absolute;
    background-color: rgb(var(--blue-400));
    color: var(--blue-100);
    width: 120px;
    font-size: 1.2rem;
    left: 0;
    padding: 10px;
}
.dropdownSearch button{
    background-color: rgb(var(--blue-400));
    color: rgb(var(--blue-100));
    display: inline-block;
    padding: 0px 10px;
    font-size: 1.4rem;
    border: none;
}
.dropdownSearch:hover .dropdownSearchMenu{
    display: flex;
    z-index: 99;
}
.dropdownSearchMenu{
    flex-direction: row;
    border-top: solid 1px rgb(var(--blue-100));
    position: relative;
    background-color: rgb(var(--blue-400));
    
    padding:5px;
    width: 100%;
}

.dropdownSearchMenu input[type=text], .searchFullScreen input[type=text]{
    margin: 10px;
    border-radius:10px;
    padding: .3125rem;
    background-color: rgb(var(--blue-100));
    color: rgb(var(--blue-300));
    width: 80%;
}
.dropdownSearchMenu input[type=text]
{
    margin: 1px;
    padding: .1rem .1rem .1rem 1.4rem;
    width: 90%;
    font-size: .8rem;

}
.placeholderIcon{
    position: absolute;
    left: 3%;
    top: 30%;
    color: rgb(var(--blue-300));
    font-size: .8rem;
}

.dropdownSearchMenu button, .searchFullScreen button{
    background-color: rgb(var(--blue-400));
    border: none;
    color: rgb(var(--blue-100));
    font-size: 1.2rem;
    cursor: pointer;
}
.dropdownMenu a{
    border-bottom: 1px solid rgb(var(--blue-300));
}
.dropdownMenu a:last-of-type{
    border-bottom: none;
}
.dropdownMenu a:hover{
    background-color: rgb(var(--blue-300));
}

.searchFullScreen{
    display: none;
}
@media screen and (min-width: 400px){
    .right{
        right: 7%;
    }
    .dropdownSearchMenu input[type=text]{
        width: 90%;
    }
    
}
@media screen and (min-width:575px){
    .searchFullScreen input[type=text]{
        margin: 0 0 0 0;
        transform: translateY(-20%);
        padding: .3125rem;
        
    }
    .dropdownSearchMenu{
        display: none;
    }
    .searchFullScreen{
        display: block;
        padding: 0;
        flex-grow:1;
    }
    .searchFullScreen button{
        margin: 0 0 0 5px;
        transform: translateY(-15%);
    }
    .dropdownSearch{
        display: none;
    }
    .nav{
        font-size: 2rem;
        height: 42px;
    }
    .left{
        width: 50%;
    }
    .right{
        width: 43%;
        right: 7%;
    }
    .dropdownMenu{
        font-size: 1.4rem;
        width: 200px;
    }
}
@media screen and (min-width: 768px){

 
    .dropdownMenu{
        font-size: 1.4rem;
        width: 200px;
    }
}
@media screen and (min-width: 1024px){

    .searchFullScreen button, .searchFullScreen input[type=text]{
        transform: translateY(-25%);
    }
}
