.title{
    width: 300px;
    margin: 0 auto;
}
.avatarContainer{
    width: 300px;
    margin: 0 auto;
}
.profiles{
    max-width: 800px;
    margin: 0 auto;
    
}
.profiles h2{
    background-color: rgb(var(--blue-400));
    border-bottom: solid rgb(var(--blue-100));
    margin: 10% auto 0 auto;
}
.profiles h2:not(:first-child){
    margin: 2% auto 0 auto;
}
.profiles ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(var(--blue-500), .5);
    list-style-type: none;
}
.profiles ul li{
    color: rgb(var(--blue-200));
}

@media screen and (min-width: 768px){
    .profiles ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
}