.largerCard{
    margin: 6% auto 0 auto;
    background-color: rgb(var(--blue-400));
    width: 364px;
    border: solid rgb(var(--blue-100));
    padding: 7px;
}
.imageWrapper{
    width: 350px;
    height: 350px;
    position: relative;
    margin: 0 auto;
    
}
.cardInfo{
    margin: 5% auto;
    padding-bottom: 2%;
    position: relative;
}
.cardInfo p{
    margin-bottom: 1.5%;
}
.right{
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (min-width:768px){
   
    .largerCard{
        display: flex;
        width: 90%;
        border: solid rgb(var(--blue-100));
        padding: 10px;
        
    }
    .imageWrapper{
        width: 320px;
        height: 320px;
    }
    .cardInfo{
        max-width: 50%;
        line-height: 1.5rem;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1024px){
    .imageWrapper{
        width: 400px;
        height: 400px;
    }
    .largerCard{
        width: 80%;
        font-size: 1.2rem;
    }
    .cardInfo{
        margin: 0 2%;
    }
}