.largerCard{
    margin: 6% auto 0 auto;
    background-color: rgb(var(--blue-400));
    width: 360px;
    border: solid rgb(var(--blue-100));
    
}
.imageWrapper{
    width: 350px;
    height: 350px;
    position: relative;
    
}
.cardInfo{
    margin: 2%;
    padding-bottom: 2%;
}
.cardInfo p{
    margin-bottom: 1.5%;
}
.description{
    display: none;
}
@media screen and (min-width:768px){
    .descriptionMobile{
        display: none;
    }
    .description{
        display: block;
        width: 85%;
        margin: 0 auto;
        background-color: rgb(var(--blue-400));
        padding: 2%;
        border-left: solid rgb(var(--blue-100));
        border-right: solid rgb(var(--blue-100));
        border-bottom: solid rgb(var(--blue-100));
        border-top: none
    }
    .largerCard{
        display: flex;
        width: 85%;
        border-top: solid rgb(var(--blue-100));
        border-left: solid rgb(var(--blue-100));
        border-right: solid rgb(var(--blue-100));
        border-bottom: none;
    }
    /* .cardInfo{
        max-width: 50%;
    } */
}
@media screen and (min-width: 1024px){
    .largerCard{
        width: 60%;
    }
    .description{
        width: 60%;
    }
}