.capitalize{
    text-transform: capitalize;
}
.center{
    margin: 0 auto;
    width: 150px;
}
.btn{
    background-color: rgb(var(--blue-400));
    color: rgb(var(--blue-100));
    border-radius: 28px;
    border: solid 1px rgb(var(--blue-100));
    font-family: inherit;
    padding: 6px;
    font-size: 1rem;
    cursor: pointer;
    
}
.btn:hover{
    background-color: rgb(var(--blue-300));
    transform: translateY(-2%);
}
