.capitalize{
    text-transform: capitalize;
}
.btn{
    background-color: rgb(var(--blue-400));
    color: rgb(var(--blue-100));
    border-radius: 28px;
    border: none;
    font-family: inherit;
    padding: 10px;
    font-size: 1.5rem;
    box-shadow: 0 1px 5px rgb(var(--blue-100));
}
