.capitalize{
    text-transform: capitalize;
}
.btn{
    background-color: rgb(var(--blue-400));
    color: rgb(var(--blue-100));
    border-radius: 28px;
    border: solid rgb(var(--blue-100));
    font-family: inherit;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    
}
.btn:hover{
    background-color: rgb(var(--blue-300));
    transform: translateY(-2%);
}
