.capitalize{
    text-transform: capitalize;
}
.center{
    margin: 0 auto;
    width: 150px;
}
.btn{
    background-color: rgb(var(--blue-400));
    color: rgb(var(--blue-100));
    border-radius: 28px;
    border: solid 1px rgb(var(--blue-100));
    font-family: inherit;
    padding: 6px;
    font-size: 1rem;
    cursor: pointer;
    
}
.btn:hover, .imagePreview input[type=file]::file-selector-button{
    background-color: rgb(var(--blue-300));
    transform: translateY(-2%);
}
.imagePreview{
    width: 300px;
    height:300px;
    border: solid 1px rgb(var(--blue-100));
    position: relative;
} 
.imagePreview input[type=file]::file-selector-button{
    position: absolute;
    background-color: rgb(var(--blue-400));
    color: rgb(var(--blue-100));
    border-radius: 28px;
    border: solid 1px rgb(var(--blue-100));
    font-family: inherit;
    padding: 6px;
    font-size: 1rem;
    cursor: pointer;
    bottom: 0%;
    right: 0%;
}