@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --blue-100: 187, 225, 250;
  --blue-300: 50, 130, 184;
  --blue-400: 15, 76, 117;
  --blue-500: 6, 59, 95;
  --blue-700: 30, 30, 30;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

body {
  color: rgb(var(--blue-100));
  background: rgb(var(--blue-700));
}

a {
  color: inherit;
  text-decoration: none;
}